In [1]:
import glob
import pandas as pd

In [ ]:
import data_handler

In [ ]:
df = data_handler.read_as_dataframe()

In [3]:
files_list = glob.glob('data/*.csv.bz2')

In [5]:
df = pd.read_csv(files_list[0], compression='bz2', encoding='ISO-8859-1', low_memory=False, memory_map=True)

In [6]:
df.shape

(7009728, 29)

In [7]:
df.sample()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5698957,2008,10,16,4,1801.0,1805,1914.0,1913,EV,5560,...,4.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN